<div class="s4_main flex center">
    <div class="field">

        <div class="s4_header flex row center">
            <p>Заполните все ячейки (Уровень: средний)</p>
        </div>

        <div class="s4_game-part flex column center">
            <div class="s4_game-card flex column space-around wrap">
                <p>Время:</p>
                <div class="flex row1 space-around">
                    <input  [id]="time[0]" *ngFor="let time of this.answers" disabled>
                </div>
            </div>
            <div class="s4_game-card flex column space-around wrap">
                <p>Самое важное в структуре:
                    <span style="position:relative;">
                    <span (click)="showHint(1)" class="rounded-icon">❔</span>
                        <div class="hint" id="hint1">
                          <p style="font-size: .5em; text-align: center;">В поле для ввода введите, что самое важное в структуре времени, что вы вводили и ранее.</p>
                          <p style="font-size: .5em; margin-top: 5px; text-align: center;">Пример: Форма to be + глагол + окончание</p>
                        </div>
                    </span>
                </p>
                <div class="flex row1 space-around">
                    <input [id]="'structure'+time[0]" *ngFor="let time of this.answers"
                           placeholder="Введите самое важное в структуре" disabled>
                </div>
            </div>
            <div class="s4_game-card flex column space-around wrap">
                <p>Предложение:
                    <span style="position:relative;">
                        <span (click)="showHint(2)" class="rounded-icon">❔</span>
                        <div class="hint flex center" id="hint2">
                            <p style="font-size: .5em; text-align: center;">Из данного вам списка выберите предложения, которое вы вводили ранее.</p>
                        </div>
                    </span>
                </p>
                <div class="flex row1 space-around">
                    <input [id]="'sentence'+time[0]" *ngFor="let time of this.answers"
                           placeholder="Введите предложение к времени" disabled>
                </div>
            </div>
            <div class="s4_game-card flex column space-around wrap">
                <p>
                    Слово характеризующее время:
                    <span style="position:relative;">
                        <span (click)="showHint(3)" class="rounded-icon">❔</span>
                        <div class="hint" id="hint3">
                            <p style="font-size: .5em; text-align: center;">В поле для ввода впишите слово, которое вы вписывали раньше для характеристики соответствующего времени.</p>
                            <p style="font-size: .5em; margin-top: 5px; text-align: center;">Пример: Present Continuous - сейчас</p>
                        </div>
                    </span>
                </p>
                <div class="flex row1 space-around">
                    <input [id]="'word'+time[0]" *ngFor="let time of this.answers" placeholder="Введите слово или предложение" disabled>
                </div>
            </div>

            <div style="width: 100%; margin-top: 20px;" class="flex row space-around">
                <button id="new-level" (click)="new()" class="clr1 big-btn flex center"><p>Сгенерировать уровень</p></button>
                <button (click)="next()" class="clr1 big-btn flex center"><p>Следующий уровень</p></button>
            </div>
        </div>
    </div>
</div>
