main {
}

.field {
    width: min(100vw, 1400px);
    position: relative;
    display: block;
    overflow: hidden;
}

.open-time-learn {
    z-index: 1000;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition-duration: .5s;
    transform: rotateX(90deg) translateZ(-50vh);
    display: none;
}

.s1_upslide {
    position: relative;
}

.s1_upslide img {
    width: 100%;
}

.button {
    position: absolute;
    right: 20px;
    top: 40%;
}

.s1_upslide .text {
    font-size: min(4vw, 40px);
    font-weight: 500;
}

.small-btn {
    margin-top: 10px;
    width: fit-content;
    padding: 5px 10px;
    line-height: 100%;
    font-size: min(3vw, 24px);
    border-radius: 10px;
}

.clr1 {
    border: 1px solid #a8a8a8;
    color: #DE6488;
    transition-duration: .5s;
}

.clr1:hover {
    box-shadow: 0 0 10px #DE6488;
    border-color: #DE6488;
}


.s1_centerslide {
    margin-top: 50px;

    position: relative;
    width: 100%;
    height: fit-content;
    padding: 30px 0 50px;
    box-sizing: border-box;
    background: linear-gradient(90deg, #FED4E0 0.96%, #FFEAF3 100%);
}

.s1_centerslide .text {
    font-size: min(30px, 4vw);
    font-weight: 500;
}

.padding10 {
    padding: 0 10% 0;
}

.time-zone {
    margin-top: 50px;
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.time-container {
    padding-left: 0;
    grid-column-gap: 10vw;
    transition-duration: 1s;
}

.time-card.chosen {
    background: rgba(255, 255, 255, 0.4);
    color: #e1567b;
}

.time-card.disabled {
    background: #ff6559;
}

.payment {
    opacity: 0;
    display: none;
    transform: rotateX(90deg);
    background: rgba(0,0,0,40%);
    transition-duration: .5s;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
}

.time-card {
    transition-duration: .3s;
    width: 20% !important;
    height: fit-content;
    padding: 10px 5px;
    border-radius: 10px;
    display: inline-block;
    font-size: min(3vw, 25px);
    vertical-align: center;
    text-align: center;
}

.time-card p {
    color: #DE6488;
    line-height: 120%;
    font-weight: 600;
    width: 100%;
}

.left-arrow {
    position: absolute;
    left: -5%;
    vertical-align: center;
}

.right-arrow {
    position: absolute;
    right: -5%;
    vertical-align: center;
}


.s1_bottomslide {
    padding: 13vh 0;
    width: 100%;
}

.s1_bottomslide .text {
    font-size: min(50px, 5vw);
    font-weight: 600;
}

.big-btn {
    margin-top: 5vh;
    margin-bottom: 10px;
    width: min(max(60%, 100px), 500px);
    height: fit-content;
    padding: 20px 0;

    border-radius: 20px;

    font-size: min(40px, 3vw);
    font-weight: 500;
}


.s1_finalslide {
    width: 100%;
    background: linear-gradient(90deg, #FEC9D9 0%, #FC98B2 100%);
}

.s12_table {
    display: table;
    height: 300px;
}

.s12_left-slide {
    display: table-cell;
    height: 100%;
    width: 15em;
    box-sizing: border-box;
    vertical-align: middle;
    padding: 1em 0;
    margin: 0;
}

.s12_center-slide {
    display: table-cell;
    vertical-align: middle;
    align-items: center;
}

.s12_center-slide img {
    width: min(100%, 200px);
}

.s12_right-slide {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 15em;
    margin: 0;
    text-align: center;
}

.s12_right-slide li:not(:first-child) {
    margin-top: 10px;
}

.s12_contact_table {
    font-size: 1.3em;
    margin-bottom: 1.5em;
    display: block;
}

.s12_policy {
    text-align: center;
    margin: 0;
    width: 100%;
    font-size: 1.3em;
    color: #e0e0e0;
    text-decoration: underline;
}

.s12_text {
    font-size: 1.3em;
}

.flex2 {
    display: flex;
}

.flex {
    display: flex;
    align-items: center;
    align-content: center;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
}

.bottom {
    justify-content: flex-end;
}

