<div class="s4_main flex center">
    <div class="field">

        <div class="s4_header flex column center">
            <p style="text-align: center">Заполните все ячейки</p>
            <p style="text-align: center">(Уровень: легко)</p>
        </div>
        <div style="width: 100%; margin-top: 20px; margin-bottom: 30px;" class="flex center">
            <button (click)="new()" id="gen-btn" class="clr1 big-btn flex center"><p>Сгенерировать</p></button>
        </div>

        <div style="width: 100%; grid-row-gap: 30px; grid-column-gap: 40px;" class="flex column center">
            <div *ngFor="let time of this.times; let i = index" class="s4_game-part flex column center">
                <div class="s4_game-card flex column space-around wrap">
                    <p>Время:</p>
                    <div class="flex row1 space-around">
                        <input [id]="time" value="" [disabled]="this.disabled[i][0]" autocomplete="off">
                    </div>
                </div>
                <div class="s4_game-card flex column space-around wrap">
                    <p>Самое важное в структуре:
                        <span style="position:relative;">
                            <span (click)="showHint(i*3)" class="rounded-icon">❔</span>
                            <div class="hint" [id]="'hint'+i*3">
                                <p style="font-size: .5em; text-align: center;">В поле для ввода введите, что самое важное в структуре данного времени, в его образовании.</p>
                                <p style="font-size: .5em; margin-top: 5px; text-align: center;">• обучение: рамка ❕❕Надо знать</p>
                                <p style="font-size: .5em; margin-top: 5px; text-align: center;">Пример: to be + Ving</p>
                            </div>
                        </span>
                    </p>
                    <div class="flex row1 space-around">
                        <input [id]="'structure'+time" autocomplete="off" placeholder="Введите самое важное в структуре" [disabled]="this.disabled[i][1]">
                    </div>
                </div>
                <div class="s4_game-card flex column space-around wrap">
                    <p>Предложение:
                        <span style="position:relative;">
                            <span (click)="showHint(i*3+1)" class="rounded-icon">❔</span>
                            <div class="hint flex center" [id]="'hint'+(i*3+1)">
                                <p style="font-size: .5em; text-align: center;">Из данного Вам списка выберите то предложение, которое характерно для выбранного времени и подходит под его структуру.</p>
                                <p style="font-size: .5em; text-align: center;">• обучение: см. примеры утвердительных, отрицательных и вопросительных предложений.</p>
                            </div>
                        </span>
                    </p>
                    <div class="flex row1 space-around">
                        <div class="select-width">
                            <select [id]="'sentence'+time" [disabled]="this.disabled[i][2]">
                                <option *ngIf="this.selectValues[i]=='...'">...</option>
                                <option *ngFor="let sentence of sentences[i]">{{sentence}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="s4_game-card flex column space-around wrap">
                    <p>
                        Слово маркер времени:
                        <span style="position:relative;">
                            <span (click)="showHint(i*3+2)" class="rounded-icon">❔</span>
                            <div class="hint" [id]="'hint'+(i*3+2)">
                                <p style="font-size: .5em; text-align: center;">В поле для ввода введите слово подсказку, которое будет являться указателем данного времени.</p>
                                <p style="font-size: .5em; margin-top: 5px; text-align: center;">Пример: now или сейчас</p>
                                <p style="font-size: .5em; margin-top: 5px; text-align: center;">• обучение: см. в конце теории, Слова маркеры с переводом на русский язык.</p>
                            </div>
                        </span>
                    </p>
                    <div class="flex row1 space-around">
                        <input [id]="'word'+time" placeholder="" [disabled]="this.disabled[i][3]" autocomplete="off">
                    </div>
                </div>

                <hr>
            </div>
        </div>

        <div style="width: 100%; margin-top: 30px;" class="flex row center wrap">
            <button (click)="next()" class="clr1 big-btn flex center"><p>Следующий уровень</p></button>
        </div>
    </div>
</div>
