<div  class="background"></div>
<svg (click)="close_open_menu()" class="close-icon" width="30" height="30" viewBox="0 0 44 44" style="fill: #ffffff" xmlns="http://www.w3.org/2000/svg">
    <path d="M2.32233 2.32233L42.3223 42.3223" stroke="white" stroke-width="3" stroke-linecap="round"/>
    <path d="M2.32233 42.3223L42.3223 2.32234" stroke="white" stroke-width="3" stroke-linecap="round"/>
</svg>
<div class="body flex center column">
    <h1 style="margin-bottom: 20px;">
        Зарегистрируйтесь и оплатите премиум, чтобы получить доступ к полной версии!
    </h1>
    <p style="margin-bottom: 40px; margin-left: 10px; margin-right: 10px;">Получи доступ к полной версии <b>ArtEng</b> на всех девайсах, чтобы использовать все времена в игре и в обучении.</p>
    <p style="margin-bottom: 20px;" class="payment">Стоимость: <b>499₽/30дн.</b></p>
    <div class="center">
        <button class="button" (click)="pay()">Оплатить</button>
    </div>
</div>
