<div class="s4_main flex center">
    <div class="field">

        <div class="s4_header flex row center">
            <p>Заполните все ячейки</p>
        </div>

        <div style="width: 100%; grid-row-gap: 30px; grid-column-gap: 40px;" class="flex column center">
            <div *ngFor="let time of this.times; let i = index" class="s4_game-part flex column center">
                <div class="s4_game-card flex column space-around wrap">
                    <p>Время:</p>
                    <div class="flex row1 space-around">
                        <input value="{{time}}" disabled>
                    </div>
                </div>
                <div class="s4_game-card flex column space-around wrap">
                    <p>Самое важное в структуре:
                        <span style="position:relative;">
                            <span (click)="showHint(i*3)" class="rounded-icon">❔</span>
                            <div class="hint" [id]="'hint'+i*3">
                                <p style="font-size: .5em; text-align: center;">В поле для ввода введите, что самое важное в структуре каждого их времени</p>
                                <p style="font-size: .5em; margin-top: 5px; text-align: center;">Пример: Форма to be + глагол + окончание</p>
                            </div>
                        </span>
                    </p>
                    <div class="flex row1 space-around">
                        <input [id]="'structure'+time" placeholder="Введите самое важное в структуре">
                    </div>
                </div>
                <div class="s4_game-card flex column space-around wrap">
                    <p>Предложение:
                        <span style="position:relative;">
                            <span (click)="showHint(i*3+1)" class="rounded-icon">❔</span>
                            <div class="hint flex center" [id]="'hint'+(i*3+1)">
                                <p style="font-size: .5em; text-align: center;">Из данного вам списка выберите предложения, в котором используется такое же время, как и выбранное вами</p>
                            </div>
                        </span>
                    </p>
                    <div class="flex row1 space-around">
                        <div class="select-width">
                            <select [id]="'sentence'+time">
                                <option *ngFor="let sentence of sentences[i]">{{sentence}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="s4_game-card flex column space-around wrap">
                    <p>
                        Слово маркер время:
                        <span style="position:relative;">
                            <span (click)="showHint(i*3+2)" class="rounded-icon">❔</span>
                            <div class="hint" [id]="'hint'+(i*3+2)">
                                <p style="font-size: .5em; text-align: center;">В поле для ввода впишите слово, которое характеризиует выбранное вами время наиболее обще.</p>
                                <p style="font-size: .5em; margin-top: 5px; text-align: center;">Пример: Present Continuous - сейчас</p>
                            </div>
                        </span>
                    </p>
                    <div class="flex row1 space-around">
                        <input [id]="'word'+time" placeholder="">
                    </div>
                </div>

                <hr>
            </div>
        </div>

        <div style="width: 100%;" class="flex row center">
            <button (click)="play()" class="clr1 big-btn flex center"><p>Начать игру</p></button>
        </div>
    </div>
</div>
